//Values
$navbar-height: 55px;
$hero-height: 120px;
$blue-section-height: 170px;
$yellow-section-height: 170px;
$grey-section-height: 170px;
$light-color: 20;
$dark-color: 20;
$footer-height: 120px;

//Colors
$noir: #333333;
$bleu: #4f52dd;
$rouge: #ab4354;
$jaune: #F0E36B;
$gris: #D3D3D3;


//breakpoints
$xsmall: 370px;
$small: 700px;
$medium: 1080px;
$large: 1400px;
$xlarge: 1920px;


  
    html, body{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    

    .navbar{
        display: flex;
        flex-direction: row;
        width: 100%;
        position:fixed;
        bottom:0;
        border-top:1px solid rgb(174, 174, 179);
        height: $navbar-height;
        text-align: center;

        @media only screen and (max-width: $small) {
            img{
                display: none;
            }
        }


        .icon{
            width: 100%;
            margin-top:10px;

            p {
                margin:0;
                font-family: Andale Mono, monospace;
            }

            i {
                color: $noir;
            }

            
        }

    }


    @media only screen and (min-width: $medium) {

        .navbar{
            top:0;
            border-bottom:1px solid rgb(174, 174, 179);
            background-color: #31306d;
            align-items: center;

            img{
                padding-left: 20px;
            }
            
            .nav{
                width: auto;
                display: flex;
                margin-left: auto;
                flex: none;
            }
    
            .icon{
                margin:0;
                padding-right: 20px;
                width: auto;


                p {
                    color: #D3D3D3;
                }
    
                i {
                    display: none;
                }
    
                
            }
    
        }

       }












